<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>
			Морской бой
		</title>
        <script>
            var socket = '{{socket}}'
            var gameid = '{{gameid}}'
        </script>
		<script
     		src="static/js/game_script.js">
		</script>
        <link rel="stylesheet" href="static/css/style.css" />
		<link rel="stylesheet" href="static/css/color.css" />
		<link rel="shortcut icon" type="image/x-icon" href="ship.ico" />
	</head>
	<body class="game_body">
        <h3 id="code">Код частной игы: <span id="private_code"></span></h3>
        <!-- <input type="button" value="нажми меня" onclick="clicktest()"> -->
		<div class="div_my_ship">
            <table>
                <caption class='ships'>Мои корабли</caption>
                <tr>
                    <th></th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>E</th>
                    <th>F</th>
                    <th>G</th>
                    <th>H</th>
                    <th>I</th>
                    <th>J</th>
                </tr>
                {% for index in range(10) %}
                <tr>
                    <td>{{index + 1}}</td>
                    {% for item in range(10)%}
                    {% set cage_num = index * 10 + item%}
                    <td class="gameplay" id='cage{{cage_num}}' onclick="placeship({{cage_num}})"></td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </table>
            <p>Расставь корабли на поле</p>
            {% for index in range(4)%}
            <img class='single_deck' id='ship' src="static/img/1_cage/full_ship.png" alt="water" onclick="moveship({{index}})"/>
            {%endfor%}
        </div>
        <div class="loader" id="loader">
        </div>
        <div class="div_your_ship" id="your_ship">
            <table>
                <caption class='ships'>Корабли соперника</caption>
                <tr>
                    <th></th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>E</th>
                    <th>F</th>
                    <th>G</th>
                    <th>H</th>
                    <th>I</th>
                    <th>J</th>
                </tr>
                {% for index in range(10) %}
                <tr>
                    <td>{{index + 1}}</td>
                    {% for item in range(10)%}
                    <td class="gameplay"></td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </table>
        </div>
	</body>
</html>



<!-- 
<td><img src="../static/img/past.png" alt="water"></td>
<td><img src="../static/img/past.png" alt="water"></td>
<td><img src="../static/img/past.png" alt="water"></td>
<td><img src="../static/img/past.png" alt="water"></td>
<td><img src="../static/img/past.png" alt="water"></td>
<td><img src="../static/img/past.png" alt="water"></td>
<td><img src="../static/img/past.png" alt="water"></td>
<td><img src="../static/img/past.png" alt="water"></td>
<td><img src="../static/img/past.png" alt="water"></td>
<td><img src="../static/img/past.png" alt="water"></td> -->